body {
  background-color: #cc0000;
  margin: 0;
  padding: 0;
}

.poke_list {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

a {
  font-weight: 550;
  text-decoration: none;
  color: black;
  font-size: 20px;
}
