body {
  background-color: #CC0000;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin-top: 6em;
  text-align: center;
  border: 5px solid #000;
  background-color: #c0c0c0;
  height: 80vh;
}

img {
  width: 25%;
}

button {
  background-color: #B3A125;
  padding: 15px;
  font-size: 16px;
  margin: 0 auto;
  color: #000;
  border: 2px solid #000;
  width: 8em;   
  height: 4em;
}

button:hover {
  background-color: #f48b29;
}

button:active {
  background-color: #B3A125;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

a{
  padding-top: 1.5em;
  text-align: center;

  font-size: 16px;
  text-decoration: none;
  margin: 0 auto;
  color: #000;
  border: 2px solid #000;
  width: 8em;   
  height: 3em;
}

a:hover {
  background-color: #f48b29;
}

.side_button{
    position: relative;
    background-color: #B3A125;
    top: 40vh;
}

.prevNext > button{
  margin: 15px;
}