body {
  background-color: #cc0000;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin-top: 6em;
  text-align: center;
  border: 5px solid #000;
  background-color: #c0c0c0;
  height: 80vh;
}

.singleDiv > img {
  width: 25%;
}

button {
  background-color: #b3a125;
  padding: 15px;
  font-size: 16px;
  margin: 0 auto;
  color: #000;
  border: 2px solid #000;
  width: 8em;
  height: 4em;
}

button:hover {
  background-color: #f48b29;
}

button:active {
  background-color: #b3a125;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.list_button {
  padding-top: 1.5em;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  margin: 0 auto;
  color: #000;
  border: 2px solid #000;
  width: 8em;
  height: 3em;
  position: relative;
  background-color: #b3a125;
  top: 40vh;
}

a:hover {
  background-color: #f48b29;
}

.side_button {
  position: relative;
  background-color: #b3a125;
  top: 40vh;
}

.prevNext > button {
  margin: 15px;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #f48b29;
  border-color: #b3a125 transparent #b3a125 transparent;
  animation: lds-dual-ring 2.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}